ul{
  list-style-type:circle;
}
.first_letter li:hover::first-letter{
 
 /*content: url("file:///c:/Users/OKAN/Desktop/html-css/media/java.jpg");
 width: 100px;
 height: 100px;*/
 background: red;
 color: aqua;
 font-size: 40px;
}
.first_line li:hover::first-line{
  background: rgb(122, 41, 41);
  color:blue;
  font-size:40px;
  
}
li::before,li::after{
  content: "";
  display: inline-block;
  background: rgba(100, 240,130, 0.3);
  width: 10px;
  height: 10px;
}
 p:target{
  background: yellow;
  color:red;
  font-size:24px;
}
::selection{
  background: purple;
  font-size: 40px;
  color:blue;
}