.benimalanim1,.benimalanim2{
  background:blue;

}
.benimalanim1{
  margin-bottom: 10px;
}
.benimalanim2{
  color:yellow;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.benimalanim2 span
{
  background: white;
}
.link
{
  background: aqua;
  color: darkslateblue;
  text-decoration: none;
}
.link:hover
{
  background: red;
}
.link:active
{
  background: black;
}
.link:focus
{
  background:yellow;
}
ul{
  list-style-type: none;
  padding-left:0px;
  
}
li:first-child{
  background: red;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
li:last-child{
  background: yellow;
  font-family: 'Open Sans', sans-serif;
}
tr:nth-child(odd)
{
  background: gray;
  /*even bir satır boş bırakır.
  odd ise ilk satır dolu bir satır boş devam eder.*/
}
td:first-child:hover{
  color: blue;
  background: red;
}
td:nth-child(odd):hover
{
  background: red;
  color: blue;
}
th:nth-child(odd):hover
{
  background: red;
  color: blue;
}
td:nth-child(2):hover{
  background:red;
  color: blue;
}